<ol reversed class="postlist">
{% for post in postslist | reverse %}
  <li class="postlist-item">
    <a href="{{ post.url }}" class="postlist-link">
      <span class="postlist-title">{{ post.data.title }}</span>
    </a>
  </li>
{% endfor %}